<!-- @dsCard group="Sections" height=440 subtitle="The red band of the current site: black type on red-500, one black button and the phone number" -->
<section class="rg rg-cta" data-theme="red">
  <div class="rg-container">
    <div class="rg-cta__inner">
      <div class="rg-cta__copy">
        <span class="rg-eyebrow"><span class="rg-step-mark"></span>Uw trap op maat</span>
        <h2 class="t-h1">Betontrappen ter plaatse bekist</h2>
        <p>Stuur uw plannen of bel Raf. Samen bekijken we wat uw trap nodig heeft.</p>
      </div>
      <div class="rg-cta__actions">
        <a class="rg-cta__phone" href="tel:+32495512902">0495 51 29 02</a>
        <a class="rg-btn rg-btn--lg" href="#">Offerte aanvragen {{icon:arrow-right|rg-btn__arrow}}</a>
      </div>
    </div>
  </div>
</section>
