<aside class="rg-cms__side" aria-label="CMS-navigatie">
  <div class="rg-cms__brand"><img src="{{logo:$LOGO}}" alt="Raf Geerts Betontrappen" width="91" height="30"><span>CMS</span></div>
  <nav class="rg-cms__nav">
    <a href="#"$CUR_DASH>{{icon:layout-dashboard}} Dashboard</a>
    <span class="rg-cms__navlabel">Inhoud</span>
    <a href="#"$CUR_REAL>{{icon:images}} Realisaties</a>
    <a href="#">{{icon:inbox}} Aanvragen <span class="rg-badge rg-badge--accent">3</span></a>
    <a href="#">{{icon:image}} Media</a>
    <a href="#">{{icon:file-text}} Pagina's</a>
    <span class="rg-cms__navlabel">Beheer</span>
    <a href="#">{{icon:users}} Gebruikers</a>
    <a href="#">{{icon:settings}} Instellingen</a>
  </nav>
  <div class="rg-cms__user"><span class="rg-avatar" aria-hidden="true">RG</span><div><b>Raf Geerts</b><small>Beheerder</small></div></div>
</aside>
