<header class="rg-header$HDR_CLASS">
  <div class="rg-container">
    <div class="rg-header__bar">
      <a class="rg-header__logo" href="#" aria-label="Raf Geerts Betontrappen, naar de homepage"><img src="{{logo:$LOGO}}" alt="Raf Geerts Betontrappen" width="134" height="44"></a>
      <nav class="rg-nav" aria-label="Hoofdmenu">
        <a href="#"$CUR_REAL>Realisaties</a>
        <a href="#"$CUR_WERK>Werkwijze</a>
        <a href="#">Over Raf</a>
        <a href="#">Contact</a>
      </nav>
      <div class="rg-header__actions">
        <a class="rg-header__phone" href="tel:+32495512902">{{icon:phone}} 0495 51 29 02</a>
        <a class="rg-btn rg-btn--sm" href="#">Offerte aanvragen</a>
        <button class="rg-menu-btn" type="button" aria-expanded="false" aria-label="Menu openen">{{icon:menu|rg-icon--open}}{{icon:x|rg-icon--close}}</button>
      </div>
    </div>
  </div>
  <div class="rg-drawer">
    <div class="rg-container">
      <nav aria-label="Hoofdmenu, mobiel">
        <a href="#"$CUR_REAL>Realisaties {{icon:arrow-right}}</a>
        <a href="#"$CUR_WERK>Werkwijze {{icon:arrow-right}}</a>
        <a href="#">Over Raf {{icon:arrow-right}}</a>
        <a href="#">Contact {{icon:arrow-right}}</a>
      </nav>
      <a class="rg-btn rg-btn--block" href="tel:+32495512902">{{icon:phone}} Bel 0495 51 29 02</a>
    </div>
  </div>
</header>
